---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import { seoConfig } from '../../utils/seoConfig';
---

<Layout title="slacktivist.com" description={seoConfig.description}>
  <main>
    <h1>slacktivist.com</h1>
    <Welcome name="slacktivist.com" />
    <p><a href={`${import.meta.env.BASE_URL}blog/`}>Blog</a></p>
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: 1rem;
  }
</style>
